<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div style="position: fixed;
                top: 0px;
                width: 100%;
                justify-content: space-between;
                margin: auto;">
        <span>{{ user.username }}</span>
        <a href="{% url 'product_list' %}">Products</a>
        {% if user.is_authenticated %}
            <a href="{% url 'logout' %}">Logout</a>
            <a href="{% url 'profile' %}">Profile</a>
            <a href="{% url 'cart' %}">Cart</a>
            <a href="{% url 'buy_history' %}">Buy history</a>
        {% else %}
            <a href="{% url 'login' %}">Login</a>
            <a href="{% url 'register' %}">Register</a>
        {% endif %}
    </div>

    <div style="width: 300px;
                margin: auto;
                margin-top: 50px;">
    {% block content %}
    {% endblock content %}
    </div>

</body>
</html>